@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #806C5F;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5em;
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    background-color: white;
    width: 97%;
    margin: auto;
}
